* {
  margin: 0;
  padding: 0;
  font-family: system-ui, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
}
@media print {
  #nav {
    display: none;
  }
  .main1 {
    display: block;
  }
}

html,
body {
  background: hsl(40, 6%, 91%);
}
.clearfix {
  clear: both;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body,
html {
  overflow-x: hidden;
  width: 100%;
}
#nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #b0a8d2;
  height: 70px;
  padding-left: 70px;
  padding-right: 70px;
}
#navDiv2 a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  background-color: #5ab26e;
  width: 100px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  color: #000000;
}
#navDiv1 {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}
#navSpan {
  color: rgba(174, 45, 45, 0.776);
  margin-left: px;
}
#navDiv2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: bold;
}
#navDiv2 i {
  margin-left: 1100px;
  font-size: 30px;
  color: #3582ce;
}

/* 320px screen */
@media (max-width: 320px) {
  #nav {
    gap: 8px;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    align-items: center;
    padding: 5px 10px;
    height: 50px;
    width: 100%;
    background-color: #b0a8d2;
    box-sizing: border-box;
  }
  #navDiv1 {
    font-size: 14px;
    width: 60px;
  }
  #navDiv2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }
  #navDiv2 a {
    font-size: 17px;
    padding: 5px;
    width: 68px;
  }
  #navDiv2 i {
    margin: 0;
    font-size: 20px;
  }
}
/* 640px screen */
@media (max-width: 640px) {
  #nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
  }
  #navDiv1 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  #navDiv2 {
    gap: 5px;
  }
  #navDiv2 a {
    font-size: 16px;
    padding: 6px;
    width: 100px;
  }
  #navDiv2 i {
    font-size: 20px;
    margin: 0;
  }
}

/* 768px screen */
@media (max-width: 768px) {
  #nav {
    flex-direction: row;
    padding: 10px 20px;
    height: auto;
  }

  #navDiv1 {
    font-size: 18px;
  }

  #navDiv2 {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 8px;
  }

  #navDiv2 a {
    font-size: 18px;
    padding: 8px;
    width: 120px;
  }

  #navDiv2 i {
    font-size: 24px;
    margin-left: 0;
  }
}
/* 1024px screen */
@media (max-width: 1024px) {
  #nav {
    display: flex;
    flex-direction: row;

    padding: 10px 20px;
    height: auto;
  }
  #navDiv1 {
    font-size: 18px;
  }
  #navDiv2 {
    gap: 8px;
  }
  #navDiv2 a {
    font-size: 18px;
    padding: 8px;
    width: 100px;
  }
  #navDiv2 i {
    font-weight: bold;
    font-size: 22px;
    margin-left: 0;
  }
}

.main {
  position: relative;
  width: 900px;
  padding: 10px;
  display: flex;
  height: 100%;
  background: linear-gradient(183deg, #3423ad, #8c1c80);
  margin: 20px auto;
}

.left-section {
  position: relative;
  width: 310px;
  background: #ffffff21;
  height: 100%;

  padding: 5px 20px;
  border-radius: 5px;
  float: left;
}
.right-section {
  margin-left: 10px;
  width: 540px;
  background: #ececec;
  height: 100%;
  border-radius: 5px;
  float: left;
}
.name {
  font-size: 50px;
  color: white;
  margin-top: 20px;
  font-weight: 100;
}
.d_p {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
}
.Profile {
  background: #ffffff2e;
  padding: 20px;
  border: 2px solid white;
  border-radius: 10px;
  margin-top: 100px;
  position: relative;
}
img {
  width: 130px;
  border-radius: 50%;
  border: 4px solid white;
  position: absolute;
  top: -75px;
  left: 27%;
}
h2 {
  text-transform: uppercase;
  color: white;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 18px;
}

.about_p {
  font-size: 13px;
  color: white;
  letter-spacing: 0.5px;
  line-height: 24px;
}
.p_h {
  margin-top: 20px;
  background: #ffffff3b;
  padding: 15px;
  border-radius: 24px;
  padding-left: 20px;
  color: white;
  font-size: 18px;
}
.fas {
  font-size: 20px;
  padding-right: 10px;
  vertical-align: bottom;
}
.l_p {
  padding: 3px;
  margin-top: 10px;
  color: white;
  margin-bottom: 20px;
  position: relative;
}
.circle1,
.circle2,
.circle3,
.circle4,
.circle5 {
  width: 25px;
  height: 25px;
  background: white;
  position: absolute;
  border-radius: 15px;
}
.circle1 {
  left: 104px;
}
.circle2 {
  left: 144px;
}
.circle3 {
  left: 184px;
}
.circle4 {
  left: 224px;
}
.circle5 {
  left: 264px;
}

.Content {
  padding: 50px;
  padding-bottom: 0px;
}
h3 {
  background: linear-gradient(#60358e, #5a3293);
  padding: 10px 15px;
  width: 180px;
  border-radius: 21px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400px;
  padding-left: 25px;
  position: relative;
}
h3::after {
  content: "";
  position: absolute;
  top: 22px;
  height: 2px;
  width: 300px;
  background: #573585;
}
.content-inner {
  padding: 20px;
}
h4 {
  font-weight: 500;
}
.para {
  font-size: 13px;
  letter-spacing: 0.5px;
  line-height: 20px;
  margin-top: 10px;
}
.box {
  width: 50%;
  float: left;
}

.box p {
  padding-left: 40px;
  padding-top: 10px;
  font-size: 15px;
}
.h_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20%;
  float: left;
  padding: 35px;
  text-align: center;
}

.h_box p {
  font-size: 12px;
  text-align: center;
}
.content-inner .boxx {
  padding: 8px;
  padding-top: 5px;
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;
  justify-content: center;
  align-items: center;
}
.content-inner .boxx h4 {
  color: #848c99;
  font-weight: 500;
  text-transform: uppercase;
}
.content-inner .boxx .percet {
  position: relative;

  width: 100%;
  height: 10px;
  background: #e5e3e3;
}
.content-inner .boxx .percet div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #03a9f4;
}
/* hobbies */
.content-inner .h_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: #333;
  font-weight: 500;
  margin: 8px 0;
}

.content-inner .h_box .fas {
  color: #03a9f4;
  font-size: 18px;
  width: 25px;
  margin-left: 10px;
}

/* 768px screen */
@media screen and (max-width: 768px) {
  .main {
    flex-direction: column;
    width: 95%;
    margin: 10px auto;
  }

  .left-section,
  .right-section {
    width: 100%;
    margin: 0;
  }

  .left-section {
    padding: 10px;
  }

  .right-section {
    padding: 15px;
    margin-top: 10px;
  }

  .name {
    font-size: 35px;
  }

  .d_p {
    font-size: 12px;
  }

  .Profile {
    margin-top: 50px;
    padding: 15px;
  }

  img {
    width: 100px;
    left: 50%;
    transform: translateX(-50%);
  }

  h2 {
    font-size: 16px;
  }

  .about_p {
    font-size: 12px;
    line-height: 20px;
  }

  .p_h {
    font-size: 16px;
    padding: 10px;
  }

  h3 {
    width: auto;
    font-size: 16px;
    padding: 8px 10px;
  }

  h3::after {
    width: 150px;
  }

  .content-inner {
    padding: 20px 10px;
  }

  .box {
    width: 100%;
    float: none;
    margin-bottom: 15px;
  }

  .h_box {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .content-inner .boxx {
    grid-template-columns: 100px 1fr;
  }

  .content-inner .boxx h4 {
    font-size: 14px;
  }

  .content-inner .boxx .percet {
    height: 8px;
  }

  .content-inner .boxx .percet div {
    height: 100%;
  }
}

/* media query */
@media (max-width: 640px) {
  .main {
    flex-direction: column;
    padding: 10px;
    width: 100%;
  }

  .right-section {
    width: 638px;
    margin: 0 auto;
  }
  .left-section {
    width: 600px;
    margin: 0 auto;
  }
  .name {
    font-size: 30px;
  }

  .Profile {
    margin-top: 50px;
    width: 440px;
    margin-left: 66px;
  }

  img {
    width: 80px;
    top: -40px;
  }

  .circle1,
  .circle2,
  .circle3,
  .circle4,
  .circle5 {
    margin-left: 280px;
  }

  h3 {
    width: auto;
    padding-left: 15px;
  }

  h3::after {
    width: 100%;
    max-width: 200px;
  }

  .content-inner .boxx {
    grid-template-columns: 1fr;
  }

  .content-inner .h_box {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 425px screen */
@media (max-width: 425px) {
  .circle1,
  .circle2,
  .circle3,
  .circle4,
  .circle5 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    margin-right: 100px;
  }
  .l_p {
    display: flex;
    justify-content: start;
    gap: 20px;
    position: relative;
  }
  .circle1 {
    left: 1px;
  }
  .circle2 {
    left: 20px;
  }
  .circle3 {
    left: 40px;
  }
  .circle4 {
    left: 60px;
  }
  .circle5 {
    left: 79px;
  }
  .right-section {
    width: 100%;
    margin: 0 auto;
    display: flex;
  }
  .left-section {
    width: 100%;
    margin: 0 auto;
  }
  .name {
    font-size: 20px;
    margin-right: 230px;
  }
  .d_p {
    margin-right: 78px;
    width: 200px;
  }
  .Profile {
    margin-top: 20px;
    width: 288px;

    margin-right: 66px;
  }
  img {
    width: 50px;
    top: -20px;
  }
  .p_h {
    width: 300px;
  }
}

/* 375 */
/* For 375px screen size */
@media (max-width: 375px) {
  .main {
    width: 100%;
    flex-direction: column; 
    margin: 10px auto;
    padding: 10px;
    display: flex; 
    align-items: center;
    justify-content: center;
  }

  .left-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
     align-items: center; 
    width: 100%; /* Full width for small screens */
    margin-bottom: 20px; /* Gap between left and right sections */
    height: auto; /* Height automatically adjust hogi */
    text-align: center; /* Content centered rakha */
  }

  .right-section {
    width: 100%; /* Full width for small screens */
    margin-left: 0; /* Margin remove ki */
    height: auto; /* Height automatically adjust hogi */
  }
  .name {
    font-size: 36px;
    text-align: center; /* Centered text */
    margin-top: 10px;
  }
  .Profile {
    margin-top: 30px; 
    padding: 15px;
    margin-left: 63px;
  }
  .d_p{
    margin-right: 165px;
  }
  img {
    left: 50%;
    transform: translateX(-50%); /* Image properly center aligned */
    top: -38px;
  }

  h2 {
    font-size: 16px;
    text-align: center;
  }

  .about_p {
    font-size: 12px;
    line-height: 20px;
    text-align: center;
  }

  .p_h {
    font-size: 14px;
    padding: 10px;
    text-align: center; /* Ensures proper alignment */
  }

  .Content {
    padding: 20px 10px;
    text-align: center; /* Content alignment center */
  }

  .content-inner {
    padding: 10px;
  }

  .box {
    width: 100%; /* Full width adjustment for smaller screens */
    margin-bottom: 20px;
  }

  .content-inner .boxx {
    grid-template-columns: 1fr; /* Single-column grid for better spacing */
    gap: 10px;
  }

  .content-inner .h_box {
    margin-top: 20px;
    grid-template-columns: repeat(2, 1fr); /* 2 items in a row */
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center alignment for items */
  }
}

/* 375 */

/* 320px */
@media (max-width: 320px) {
  .main {
    padding: 5px;
    width: 100%;
  }
  .right-section {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .left-section {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .name {
    font-size: 20px;
    margin-right: 230px;
  }
  .d_p {
    margin-right: 78px;
    width: 200px;
  }
  .Profile {
    margin-top: 20px;
    width: 288px;

    margin-right: 66px;
  }
  img {
    width: 50px;
    top: -20px;
  }
  .p_h {
    width: 300px;
  }
  .l_p {
    display: flex;
    justify-content: start;
  }
  .circle1,
  .circle2,
  .circle3,
  .circle4,
  .circle5 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
  }
  .circle1 {
    left: 1px;
  }

  h2 {
    margin-right: 160px;
  }
  h3 {
    font-size: 16px;
    padding-left: 5px;
  }
  .l_p {
    margin-right: 180px;
  }
  h3::after {
    width: 80%;
    max-width: 100px;
  }

  .content-inner .boxx,
  .content-inner .h_box {
    grid-template-columns: 1fr;
  }
  #resume {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #butndiv {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content-inner {
    gap: 10px;
  }
  .h_box {
    display: flex;
     flex-direction: column; 
     justify-content: center; 
     align-items: center; 
  }
}
#butndiv {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  background-color: #3ba63e;
  border-radius: 10px;
  border: 2px solid rgb(99, 82, 82);
  margin-bottom: 10px;
  width: 250px;
  padding: 20px;
  box-shadow: #9e6565;
}
button a {
  color: #000000;
  border-radius: 10px;
  border: gray;
  font-weight: bold;
  font-size: 25px;
  width: 250px;
  padding: 20px;
}
button:hover {
  background-color: rgb(35, 142, 35);
}
#resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
