body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  padding: 0;
  background-color: rgb(152, 216, 198);
}
h1 {
  text-align: center;
  color: rgba(36, 32, 24, 0.696);
  text-shadow: 3px 3px 5px;
  font-weight: bold;
  font-size: 40px;
}
form {
  max-width: 650px;
  background-color: rgb(163, 103, 103);
  margin: auto;
  border-radius: 7px;
  box-shadow: 5px 8px 6px rgb(93, 116, 124);
  padding: 20px;
}
fieldset {
  border: 3px solid rgb(63, 102, 102);
  border-radius: 7px;
  padding: 20px;
  margin-bottom: 17px;
  background-color: rgba(189, 189, 189, 0.276);
  box-shadow: 1px 1px 8px 3px gray;
}
button {
  margin-top: 10px;
  margin-bottom: 4px;
  margin-left: 20px;
  width: 600px;
  height: 50px;
   border-radius: 80px; 
  transition: 0.5s ease-in;
  font-weight: bold;
  background-color: rgb(205, 204, 204);
  font-size: 14px;
}
button:hover {
  width: 600px;
  height: 50px;
  border-color: rgb(20, 20, 180);
  background-color: blue;
  color: white;
  cursor: pointer;
}
legend {
  font-weight: bold;
  color: rgb(29, 29, 28);
  font-size: 18px;
  text-shadow: 1px 1px 2px;
}
label {
  display: block;
  margin-top: 10px;
  color: rgb(32, 28, 31);
  font-weight: bold;
  text-decoration: solid;
  text-shadow: 1px 1px 1px;
}
input,
textarea {
  width: 550px;
  padding: 7px;
  margin-top: 5px;
  border: 2px solid rgba(107, 122, 23, 0.759);
  border-radius: 5px;
  box-shadow: 1px 1px 8px 3px gray;
  box-sizing: border-box;
}
#resumeOutput {
  margin-top: 50px;
  max-width: 650px;
  margin: auto;
  padding: 20px;
  border: 2px solid gray;
  border-radius: 8px;
  background-color: aliceblue;
  box-shadow: 5px 8px 6px rgb(93, 116, 124);
}
#resumeOutput h2 {
  color: rgb(52, 111, 171);
  font-size: 40px;
}

/* profile picture */
.profilePic {
  display: block;
  margin: 0 auto;
  border: 2px solid gray;
  box-shadow: 0 4px 8px rgba(111, 117, 81, 0.759);
  border-radius: 500%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}
/* media query */
/* Mobile Styles */
@media screen and (max-width: 480px) {
  body {
    margin: 10px;
  }

  h1 {
    font-size: 24px;
  }

  form,
  #resumeOutput {
    max-width: 90%;
    padding: 15px;
  }

  fieldset {
    padding: 15px;
    margin-bottom: 10px;
  }

  button {
    width: 100%;
    height: 45px;
    font-size: 12px;
    margin-left: 0;
  }

  input,
  textarea {
    width: 100%;
    padding: 5px;
    font-size: 14px;
  }

  legend {
    font-size: 16px;
  }

  label {
    font-size: 14px;
  }

  #resumeOutput h2 {
    font-size: 28px;
  }

  .profilePic {
    width: 100px;
    height: 100px;
  } 
}
